::selection {
    background-color: aquamarine;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0;
}
  

::-webkit-scrollbar-track {
    background: #434343;
}
  

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #747474;
}

code {
    font-family: 'Fira Code';
    font-size: 1.5ch;
    background-color: grey;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    padding: 1px;
    font-variant-ligatures: additional-ligatures;
}

pre {
    padding: 15px;
    border-radius: 3px;
    code {
        background-color: transparent;
    }
    ::selection {
        background-color: rgba(245, 245, 245, 0.677);
    }
}

a {
    color: rgb(127, 168, 255);
    text-decoration: none;
    border-bottom: 1px solid rgb(127, 168, 255);
}
blockquote {
    display: flex;
    border-left: 3px solid grey;
    padding-left: 8px;
    height: min-content;
}
