---
import "../styles/global.css";

interface Props {
    slug: string;
    title: string;
    class_name: string;
    label: string;
}

const { slug, title, class_name, label } = Astro.props;
---

<a href={"/entries/" + slug}>
    <article>
        <h1 transition:name={"title-" + slug}>
            {title}
        </h1>
        <div class="label">
            <label class={class_name}>{label}</label>
        </div>
    </article>
</a>

<style>
    a::before {
        height: 0;
    }
    article {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--font);
        border-radius: 5px;
        padding: 5%;
        align-items: start;
        height: 70%;
        a {
            align-self: start;
        }
    }
    label {
        font-family: "Fira Code";
        justify-self: right;
    }
    .label {
        flex: 1;
        display: flex;
        align-items: flex-end;
    }
    /* Tech Classes */
    .javascript {
        color: #888800;
    }
    .html {
        color: #881d00;
    }
    .css {
        color: #006d88;
    }
    .others {
        color: #6b6b6a;
    }
    a {
        text-decoration: none;
        border-bottom: 0;
        color: var(--font);
        transition: all 0.5s;
        scale: 90%;
    }
    a:hover {
        scale: 100%;
    }
    @media (max-width: 1250px) {
        article {
            margin-left: 2px;
            margin-right: 7px;
        }
    }
</style>
