<a href="/">{'<-'} Inicio</a>

<style>
    a {
        text-decoration: none;
        color: black;

        background-color: aquamarine;
        font-size: large;
        font-family: 'Fira Code';
        padding: 7px;
        border: 3px solid black;
        border-radius: 4px;
        margin-top: 4px;
    }
    a::before {
        height: 0;
    }
</style>