---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import ReturnButton from "../../components/ReturnButton.astro";
import CursorScript from "../../components/CursorScript.astro";

export async function getStaticPaths() {
    const entries = await getCollection("entry");

    return entries.map((entry) => ({
        params: {
            id: entry.slug,
        },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { data, slug } = entry;
const { title, author, date } = data;

const { Content } = await render(entry);
---

<Layout title={title + " - SamBlog"}>
    <CursorScript />
    <main style="color: var(--font);">
        <header>
            <div class="title-sup">
                <div class="title">
                    <h1 transition:name={"title-" + slug}>{title}</h1>
                </div>
                <hr>
            </div>
            <div class="author-date">
                <div class="author">
                    <img src={"/authors/" + author + ".jpg"} alt="autor" />
                    <span>{author}</span>
                </div>
                <div class="date">
                    <span>{date}</span>
                </div>
            </div>
        </header>
        <article>
            <div class="content">
                <Content />
                <ReturnButton />
            </div>
        </article>
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    h1 {
        font-family: "Fira Code";
        font-size: 5ch;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        gap: 30px;
        .title-sup {
            grid-column: 2/3;
            display: flex;
            justify-content: start;
            display: flex;
            flex-direction: column;
            gap: 5px;
            hr {
                width: 100%;
            }
        }
        .author-date {
            display: grid;
            grid-column: 2/3;
            grid-template-columns: 1fr 1fr;
            img {
                border-radius: 50%;
                height: 4ch;
                width: 4ch;
            }
            .author {
                display: flex;
                align-items: center;
                gap: 4px;
            }
            .date {
                display: flex;
                align-items: center;
                justify-content: end;
            }
        }
    }
    article {
        min-width: 100vw;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        .content {
            grid-column: 2/3;
        }
    }
    @media (max-width: 1250px) {
        * {
            margin: 0;
            padding: 0;
        }
        body {
            display: flex;
            height: 100vh;
            flex-direction: column;
        }
        main {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
        header {
            img {
                max-width: none;
                max-height: none;
            }
        }
    }
</style>
